.btn-form {
  background-color: #ff7900;
  border: 0;
  color: white;
  margin-left: auto;
  margin-right: 20px;
  transform: skew(-35deg);
  width: 150px;
  height: 50px;
}
.btn-form-span {
  transform: skew(35deg);
}
