.homes-dev {
  position: relative;
  min-height: 100vh;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fbb859;
    clip-path: polygon(0 69%, 100% 0, 100% 100%, 0% 100%);
    bottom: 0;
  }
}
.homes-dev-bg-top {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @include media-breakpoint-up(md) {
    position: absolute;
    background-color: #fbb859;
  }
}
.homes-dev-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: center;
  }
}
.homes-dev-large-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  //height: 300px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
    height: auto;
    padding: {
      left: 50px;
      right: 50px;
    }
  }
}
.homes-dev-letf-content {
  z-index: 1;
  color: #795b81;
  text-align: center;
  > h1 {
    font-family: 'SteelFish', sans-serif;
    font-style: oblique;
    font-weight: bold;
    letter-spacing: 5px;
  }
  > p {
    font-family: 'cour', monospace;
    font-size: $h5-font-size;
    padding: {
      left: 20px;
      right: 20px;
    }
  }
  @include media-breakpoint-up(md) {
    text-align: left;
    > p {
      padding: 0;
    }
  }
}
.homes-dev-bg {
  width: 80%;
}
.homes-dev-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: {
    left: 30px;
    right: 30px;
  }
}

.homes-dev-canvas {
  position: absolute;
  left: 0;
}
